<p>login works!</p>

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button
    (click)="
      auth.logout({ logoutParams: { returnTo: document.location.origin } })
    "
  >
    Logout
  </button>
</ng-container>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>

<br /><br /><br /><br />

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button
    class="btn btn-danger"
    (click)="
      auth.logout({ logoutParams: { returnTo: document.location.origin } })
    "
  >
    Logout
  </button>
</ng-container>

<ng-template #loggedOut>
  <button class="btn btn-success" (click)="auth.loginWithRedirect()">
    Log in
  </button>
</ng-template>

<div *ngIf="currentUser" class="ifLoggedIn">
  <h2>hello mr {{ currentUser.nickname }} !</h2>
  <!-- <h2>your email is - {{ currentUser.name }} !</h2> -->
  <h2>user email is - {{ currentUser.email }}</h2>

  <label>your picture - </label>
  <img [src]="currentUser.picture" alt="test" />
</div>

<ul *ngIf="auth.user$ | async as user">
  <li>{{ user.name }}</li>
  <li>{{ user.nickname }}</li>
</ul>
